<h2>All the list for <%=current_user.username%></h2>
<% if @lists.empty? %>
<h3>No Lists Created yet</h3>
<%else%>
<%@lists.each do |list| %>
<li><a href="/lists/<%=list.id%>"</href><%=list.name%></a> </li>
<%end%>
<%end%>

<br />
<br />
<br />
<br />
<div class="wrapper">

<a href="/newlist">Create New List</href></a>
<br />
<a href="/tasks">View all Tasks</href></a>

<br />

<a href="/logout">Log out </a>
</div>
