<h2>Create New List Name</h2>

<form action="/list" method="post">
    <input type="text" name="name">

    <input type="submit" name="submit">
</form>
<form action="/task" method="post">
    <input type="text" name="name">


</form>