<h2>Create New List</h2>

<form action="/list" method="post">
    List Name: <input type="text" name="name">

    Add Task: <input type="text" name="task">
    <br />
    <input type="submit" name="submit">

</form>

