<h2>Here is your list's tasks:</h2>
<h3>List Name: <%=@list.name%></h3>
<br />
<%if%>
<%@list.tasks.empty?%>
<h3>No tasks created yet</h3>
<%else%>
<li><input type="checkbox"> <%=@list.tasks%></li>
<br />
<br />
<%end%>
<a href="/newtask"> Add Task
<form method="post" action="/lists/<%=@list.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete List">
</form>
<a href="/delete_task"> Delete checked tasks
<br />
    
  <a href="/lists"> Back to Lists <br/>
    <a href="/">Back to Homepage</href></a>
<br />
<a href="/logout">Log out </a>
