<h2>Here is your list's tasks:</h2>
<h3><%=@list.name%></h3>
<br />
<input type="checkbox"> <%=@list.tasks.name%>
<br />
<br />

<a href="/newtask"> Add Task
<form method="post" action="/lists/<%=@list.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete List">
</form>
<a href="/delete_task"> Delete checked tasks
<br />
    
  <a href="/lists"> Back to Lists <br/>
    <a href="/">Back to Homepage</href></a>
<br />
<a href="/logout">Log out </a>
