<h2>Create New Task</h2>

<form action="/task" method="post">
<p>New Task <input type="text" name="task[title]"></p>

<br />
<p>For New List <input type="text" name="list[name]"></p>

    <input type="submit" name="submit">

<label >Lists:</label>
<% List.all.each do |list|%>
<br/>
<%= list.name%>
    <input type="checkbox" id="list_<%=list.id%>" name="user[list_ids]">
<%end%>

</form>