<h2>Create New Task</h2>

<form action="/tasks" method="post">
    Task Name: <input type="text" name="name">
    <br />
    
<h3><label>Add Task to Existing Lists: </label> </h3>
    <% current_user.lists.each do |list| %>
    <li><input id="<%= list.name %>" type="checkbox" name="list_id[]" value="<%= list.id %>"> <a href="/lists/<%=list.id%>" > <%= list.name%> </input> </li>
    <% end %>

    <input type="submit" name="submit">
</form>

        <a href="/">Back to Homepage</href></a>

