<h2><%=current_user.username%>'s Tasks</h2>
<% if @tasks.empty?%>

<h3>No Tasks Created yet </h3>

<%else%>
<%@tasks.each do |task|%>

<li><input type="checkbox"><%=task.name%></li>
    <%end%>
<%end%>
<br/>

<a href="/lists">View <%=current_user.username%>'s' Lists </a>