<h2>Please login below</h2>

<% if !!@user %>
    <h3 style="color:red">Incorrect username or password.</h3>
  <% end %>

<form action="/login" method="post">
    Username: <input type="text" name=user[username] id="username">
    <br/>
    Password:  <input type="password" name=user[password] id="password">
    <br/>
    <br/>
    <input type="submit" value="Login">
    <br/>
    <a href="/">Back to Homepage</href></a>
</form>