<h2>Please login below</h2>

<form action="/users">
    Username: <input type="text" name=user[username]>
    <br/>
    Password:  <input type="text" name=user[password]>
    <br/>
    <br/>
    <input type="submit" name="Login">
    <br/>
    <a href="/">Back to Homepage</href></a>
</form>